.main_Component_container {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;

    .filtro {
        width: 300px;
        height: 100%;
        border-right: 1px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 5px 50px 5px;
        gap: 50px;

        .inputSearch {
            width: 100%;
            height: fit-content;
            border-bottom: 3px solid rgba(0, 0, 0, 0.555);
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            .route_direction_gestion {
                text-decoration: none;
                font-size: 1.4rem;
                color: white;
                text-shadow: 0 0 1px black;
                border-bottom: 3px solid black;
                padding: 3px 5px 3px 5px;
                transition: box-shadow 0.2s linear;
                border-radius: 5px 5px 0 0;
                background: rgba(128, 128, 128, 0.479);


                &:hover {
                    box-shadow: inset 0 0 5px black;
                }

                &:active {
                    transform: scale(1.05)
                }
            }

            .search_inventory_item {
                width: 100%;
                border: none;
                height: 40px;
                outline: none;
                font-size: 1rem;
                font-family: 'local';
                text-align: center;
                padding: 0 5px 0 5px;
                box-shadow: inset 0 0 5px black;
                border-radius: 5px 5px 0 0;
            }
        }

        .list_filter {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 5px;
            overflow-x: hidden;
            overflow-y: auto;
            scrollbar-width: thin;

            .filter_checkboxs {
                width: 100%;
                height: fit-content;
                list-style-type: none;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                padding: 0 10px 0 10px;
                cursor: pointer;
                border-left: 3px solid rgb(50, 231, 255);

                .filter_name {
                    font-size: 1.2rem;
                    user-select: none;
                }

                &:hover {
                    box-shadow: inset -1px -1px 5px rgb(50, 231, 255);
                    border-left: none;
                }

                &:active {
                    transform: scale(0.95);
                }
            }
        }
    }

    .Inventory_items {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px;

        .titleAndNewProduct {
            width: 100%;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;

            .title_section_inventory {
                font-size: 2rem;
            }

            .btn_new_product {
                width: 50px;
                height: 50px;
                padding: 0 10px 0 10px;
                background: #d4d4d4;
                border: none;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                opacity: 0.5;
                transition: opacity 0.2s linear;

                .image_plus {
                    width: 35px;
                    height: 35px;
                }

                &:hover {
                    opacity: 1;
                    cursor: pointer;
                }

                &:active {
                    transform: scale(0.95);
                }
            }
        }


        .container_inventory_items {
            width: 100%;
            height: 100%;
            box-shadow: inset 0 0 5px black;
            border-radius: 10px 10px 0 0;

            .description_items_inventory {
                width: 100%;
                height: 50px;
                background: rgb(211, 211, 211);
                display: flex;
                border-radius: 10px 10px 0 0;

                .item_box_name_inventory {
                    width: 20%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .name_section_product {
                        font-size: 1.5rem;
                    }
                }
            }

            .container_list_products_inventory {
                width: 100%;
                height: 100%;

                .list_inventory_ul {
                    width: 100%;
                    height: 100%;

                    .products_list_inventory {
                        width: 100%;
                        height: 90px;
                        list-style-type: none;
                        padding: 0 5px 0 5px;
                        border-bottom: 3px solid rgba(0, 0, 0, 0.3);
                        cursor: pointer;
                        display: flex;
                        flex-direction: row;


                        .img_inventory {
                            width: fit-content;
                            height: 100%;
                            display: flex;
                            align-items: center;

                            .image_inventory {
                                width: 90px;
                                height: 100%;
                                object-fit: cover;
                            }
                        }

                        .item_inv {
                            width: 20%;
                            justify-content: center;

                            .gestion_product_btn {
                                width: fit-content;
                                padding: 0 10px 0 10px;
                                height: 40px;
                                border: none;
                                border-radius: 5px;
                                font-family: 'local';
                                letter-spacing: 5px;
                                text-transform: uppercase;
                                cursor: pointer;
                                color: #2c9caf;
                                transition: all 1000ms;
                                font-size: 1.1rem;
                                position: relative;
                                overflow: hidden;
                                outline: 2px solid #2c9caf;

                                &:hover {
                                    color: #ffffff;
                                    transform: scale(1.1);
                                    outline: 2px solid #70bdca;
                                    box-shadow: 4px 5px 17px -4px #268391;
                                }

                                &::before {
                                    content: "";
                                    position: absolute;
                                    left: -50px;
                                    top: 0;
                                    width: 0;
                                    height: 100%;
                                    background-color: #2c9caf;
                                    transform: skewX(45deg);
                                    z-index: -1;
                                    transition: width 1000ms;
                                }

                                &:hover::before {
                                    width: 250%;
                                }
                            }
                        }

                        .img_item_inv {
                            justify-content: flex-start;
                        }

                        &:hover {
                            border-bottom: 3px solid rgba(0, 0, 0, 1);
                        }
                    }
                }
            }
        }


    }

    #modal_inventory {
        align-self: center;
        justify-self: center;
        border: none;
        border-radius: 10px;
        box-shadow: inset 0 0 4px black;

        .gestion_product {
            width: 600px;
            height: 500px;
            display: flex;
            flex-direction: column;
            position: relative;

            .close_modal_inventory {
                position: absolute;
                right: 0;
                top: 0;
                width: 30px;
                height: 30px;
                border-radius: 0 10px 0 0;
                border: none;
                background: rgba(255, 0, 0, 0.438);


                &:hover {
                    background: red;
                    border: 3px solid black;
                    transform: scale(1.05);
                    z-index: 10;
                }

                &:active {
                    transform: scale(1);
                }
            }

            .topDecription {
                width: 100%;
                height: 50%;
                display: flex;

                .img_gestion_item {
                    width: 35%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    box-shadow: inset -1px -1px 5px black;
                    background: rgb(212, 212, 212);

                    .img_product_gestion_view {
                        width: 170px;
                        height: 170px;
                    }
                }

                .first_data_product {
                    width: 65%;
                    height: 100%;
                    padding: 20px 40px 0 10px;

                    .input_data_product {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 2px;

                        .data_name {
                            font-size: 1.2rem;
                            user-select: none;
                        }

                        .data_product_input {
                            width: 100%;
                            height: 30px;
                            padding: 0 5px 0 5px;
                            font-size: 1rem;
                            border: none;
                            border-bottom: 2px solid black;
                        }
                    }
                }
            }

            .data_product_bottom {
                width: 100%;
                height: 50%;
                display: flex;
                flex-direction: column;
                gap: 5px;

                .container_price_stock_unite {
                    width: 100%;
                    height: fit-content;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;

                    .box_data_item {
                        width: 30%;
                        display: flex;
                        flex-direction: column;

                        .title_input {
                            font-size: 1.2rem;
                        }

                        .input_data_bottom {
                            width: 100%;
                            height: 30px;
                            font-size: 1rem;
                        }
                    }
                }

                .text_description_container {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .description_product {
                        width: 92%;
                        height: 100%;
                        font-size: 1rem;
                    }
                }

                .btn_save_changes {
                    width: 100%;
                    height: 50px;
                    border-radius: 0 0 5px 5px;
                    border: none;
                    background: rgb(0, 245, 0);
                }
            }
        }
    }


    #modal_new_product {
        align-self: center;
        justify-self: center;
        border: none;
        border-radius: 10px;

        .mainContainerNewProduct {
            width: 700px;
            height: 600px;
            position: relative;

            .close_modal_new_product {
                position: absolute;
                right: 0;
                top: 0;
                width: 40px;
                height: 40px;
                border-radius: 0 10px 0 20px;
                background: rgba(255, 0, 0, 0.5);
                border: none;

                &:hover {
                    border: 3px solid black;
                    background: rgba(255, 0, 0, 1);
                }

                &:active {
                    transform: scale(0.95);
                }
            }

            .container_input_data_register_product {
                width: 100%;
                height: 100%;
                padding: 10px;
                box-shadow: inset 0 0 5px black;
                border-radius: 10px;

                .form_input_product {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    overflow-x: hidden;
                    overflow-y: auto;
                    scrollbar-width: thin;
                    align-items: center;

                    .inputs_options {
                        width: 100%;
                        height: fit-content;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        gap: 10px;
                        justify-content: center;

                        .inputBox {
                            width: 45%;
                            height: fit-content;
                            display: flex;
                            flex-direction: column;

                            .title_input_new_product {
                                font-size: 1.3rem;
                            }

                            .input_new_product {
                                width: 100%;
                                height: 30px;
                                font-size: 1rem;
                            }
                        }
                    }

                    .description_container_input {
                        width: 100%;
                        height: fit-content;
                        display: flex;
                        justify-content: center;

                        #description_item {
                            width: 92%;
                            height: 100px;
                            resize: none;
                            font-size: 1rem;
                        }
                    }

                    .select_images {
                        width: 100%;
                        height: fit-content;
                        display: flex;
                        justify-content: center;
                        gap: 10px;

                        .label_file_input {
                            width: fit-content;
                            height: fit-content;

                            .img_upload {
                                width: 70px;
                                aspect-ratio: 1;
                            }

                            &:hover {
                                transform: scale(1.05);
                                cursor: pointer;
                                box-shadow: 0 0 5px black, 2px 2px 5px black;
                                border-radius: 10px;
                            }
                        }

                        .input_file_images {
                            display: none;
                        }

                        .box_image {
                            width: fit-content;
                            height: fit-content;
                            position: relative;

                            .delete_image{
                                position: absolute;
                                right: -5px;
                                top: -5px;
                                background: none;
                                border: none;

                                .trash_image{
                                    width: 17px;
                                    aspect-ratio: 1;
                                    opacity: 0.4;
                                    transition: width 0.2s linear;

                                    &:hover{
                                        width: 25px;
                                        cursor: pointer;
                                        opacity: 1;
                                    }
                                }
                            }

                            .img_product_selected {
                                width: 80px;
                                aspect-ratio: 1;
                                object-fit: contain;
                                border: 3px solid rgb(175, 175, 175);
                                border-radius: 10px;
                            }
                        }


                    }

                    .btn_submit_product{
                        width: 20%;
                        height: 30px;
                        background: none;
                        border: none;
                        border: 3px solid black;
                        border-radius: 5px;

                        &:hover{
                            border: 3px solid rgb(42, 250, 0);
                            cursor: pointer;
                            transform: scale(1.05);
                        }

                        &:active{
                            transform: scale(1);
                        }
                    }

                }


            }
        }
    }
}